# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Fichiers de données
uploads/
*.db
*.sqlite3

# Environnement
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers temporaires
*.log
*.sql
*.sqlite
*.sqlite3
